/*div{
    width: 200px;
    height: 200px;
    background-color: coral; */
    /*20px = atas-bawah    auto = kiri-kanan*/
/*    margin: 20px  auto;  */

    /*padding*/
/*    padding: 50px; */ /*ke 4 sisi padding = 50px*/

    
    /*border*/
    /*tebal dari border = 5px*/
   /* border: 5px solid #000; */
/*}*/


div{
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}

.satu {
    background-color: royalblue;
    padding: 10px;
    border: 15px solid red;
}

.dua {
    background-color: lightgreen;
    padding: 30px;
    border: 10px dashed orange;
}