body{
    background-color: rgb(182, 182, 182);
}

.posisi{
    position: fixed;
    border-bottom: 5px solid red;
    width: 890px;
}


.container{
    width:900px;
    margin: auto;
    background-color: white;
    
}

.container .judul{
    color: white;
    margin-bottom: -15px;
    background-color: black;
    font-size: 29px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header ul li{
    list-style-type: none;
    display: inline-block;  
}

.header ul{
    background-color: rgba(169, 169, 169, 0.517);
    padding: 5px;
    font-size: 16px;
    
}

.header a{
    text-decoration: none;
    padding: 5px;
    color: crimson;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-weight: 700;
    transition: background-color 3s ease;
}


.header a:hover{
/*    text-decoration: underline solid red;*/
border: 3px solid whitesmoke;   /*memuncul-kan border pada saat di-arahkan*/
background-color: rgba(0, 0, 0, 0.314);   /*warna background akan berubah. Ketika mouse atau kursor di arahkan, ke Link*/
}

.hero{
    margin-top: -15px;
    border-top: 5px solid red;
}

