.container {
    width: 800px; /*kita harus pintar dalam mengasih lebar masing masing class, agar sesuai dengan apa yang kita inginkan atau dengan sebagaimana mestinya*/
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

/*kita perlu mengasih properti float (agar mereka ber-3 bersebelaan*/

.kiri {
    width: 150px; /*lebar kiri = 150px*/
    height: 500px; /*hanya untuk menunjukkan colom nya (jika hanya memakai properti width maka si content tidak muncul*/
    background-color:salmon;
    float: left;
}

.tengah {
    width: 500px; /*lebar tengah = 500px*/
    height: 500px;
    background-color:lightskyblue;
    float: left;
}

.kanan {
    width: 150px; /*sisah lebar dari 800px (150px, 500px, maka kanan adalah 150px*/
    height: 500px;
    background-color: lightgreen;
    float: right;
}

.clear{
    clear: both; /*untuk membersihkan keduanya*/
}