/* Style */
body {
    /*Bisa sekaligus, bisa manual (penggunaan (font)*/

    /*sekaligus*/ /*font: 16px/28px, arial, sans-serif;*/  /*font standar*/

    /*dibawah ini manual atau sendiri-sendiri*/
    font-size: 16px/28px; /*ukuran standar*/
    font-family: arial, sans-serif;


    /*background-color (properti dan warna)*/
    /*background-color: #000000;    warnanya hitam*/
    /* background-color: #ffffff: warnanya putih*/

    /*kita mengasih warna abu abu muda*/
    background-color: #eaeaea;

    /*warna pada teks - abu abu tua*/
    color: #333333;
}

.top-bar{ 
    position: fixed; /*pertama membuat posisi, top-barnya terkunci terhadap window-nya*/
    top: 0;
    left: 0;
    right:0;
    height: 40px;
    background-color: lightskyblue;

    border-bottom: 3px solid salmon;

    z-index: 99;
}


.container{
    width: 960px;
    margin: 80px auto;  /*Untuk ketengah*/
    
    background-color: white; /*warna background (putih)*/

    position: relative;  /* supaya  si (absolute) gerak kemana-mana tidak bermasalah atau tetap posisinya*/
}

.twitter{
    width: 256px;
    height: 256px;
    background-image: url(https://iconbug.com/download/size/256/icon/5543/twitter-ribbon/);
    background-repeat: no-repeat;
    display: inline-block; /*Agar gambarnya muncul*/ 
    /*image-replacement  = mengganti tulisan jadi image*/

    text-indent: -999999px;  /*memberikan indentasi, misalkan memberikan paragraph di kasih teks inden-nya 100 maka kata pertamanya akan menjorok ke dalam*/
                    /*teks indent negatif dia akan kekiri*/
    position: absolute;

    top: -30px; /*supaya menempel*/
    right: -35px;
}

/*           HEADER START      */

.header{
    padding: 20px; /*agar tulisannya tidak terlalu dempet*/
    padding-bottom: 10px; /*memperdekat jarak navigasi ke image*/
}

.header .judul{ /*elemen dengan kelas judul yang ada di elemen kelas header*/
    
    font-size: 40px;
    font-weight: bold; /*Untuk menebalkan tulisannya*/
}

 
.header ul li{
    display: inline-block;  /*Karena ingin mengatur marginnya*/  /*agar tulisannya kesam\   margin-right: 10px;
}

.header a {
    text-decoration: none; /*untuk menghilangkan garis bawah = pada link*/
    color: salmon; /*mengubah warna default pada link= menjadi warna oren*/
    padding: 3px; /* menambah lebar atau ukuran dalam area teks */
                    

}

.header a:hover{
    background-color: lightskyblue;
    color: white;
}

/*                  HEADER CLOSE                      */




/*                  hero START                      */

.hero{
    height: 500px;
    background-image: url(https://images.unsplash.com/photo-1483721310020-03333e577078?auto=format&fit=crop&q=80&w=928&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    /* 0 = mengatur (horizontal)   [pertama]*/  /*kanan kiri */
    /* 0 = mengatur (vertikal)    [kedua]*/    /*atas bawah*/
    background-position: 0 0px;
    border-bottom: 5px solid rgb(0, 0, 0); /*bottom = BAWAH*/
    border-top:  5px solid salmon; /*top = ATAS*/

    /*background-position: 0 -230px; */      /*mengatur posisi gambar menjadi keatas (di sesuaikan)*/
}

.main{
    width: 600px;
    padding: 20px;

    box-sizing: border-box; /*supaya lebar-nya tetap 600px*/

    float: left;
}

.main h2{
    font-size: 32px;
    font-weight: bold;
}

.main .penulis{
    font-size: 11px;
    margin-top: -15px; /*agar tulisannya keatas*/
}

.main a{
    color: salmon;
    text-decoration: none;
}

.main p{
    margin-bottom: 20px;
}


/*                 CONTENT END                      */





.sidebar{
    width: 300px;
    float: right;  /*mengatur posisi ke kanan*/
    padding: 20px; /*memberikan lebar dan lurus(keseluruhan) seukuran 20px*/
}

.sidebar h3{
    font-weight: bold;  /*font-nya menjadi tebal*/
    color: #666;  /*warna abu abu*/

}

.sidebar img {
    width: 100px;
    height: 100px;
    float: left;

    padding-right: 10px;
}


.sidebar p{
    font: 12px/18px Arial;
}

/*text wrapping tulisan mengelilingi gambar*/






.footer{
    background-color: #333333; /*abu-abu tua*/
    padding: 10px;
}

.footer .copy{
    color: #eaeaea;
    text-align: center; /*tulisannya ketengah*/
    font-size: 12px;
}

/*  clearfix*/      /*berfungsi untuk menganggap float*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

/*.cf {
    *zoom: 1;
} */