.container{
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 5px; /*Agar tidak terllau mepet*/

    /*overflow: auto;*/ /*menyesuaikan tinggi dari konten-nya  (dan gambarnya di anggap ada lagi)*/
}

img {
    float: left;
    margin: 5px;  /*Untuk mengasi jarak*/
}

.clear{
    clear: left;  /*untuk membersihkan float*/
}